body {
        background-color: blue;
        transition: background-color 0.4s ease;
        background-repeat:no-repeat;
        margin: 10px auto;
        padding:20px 20px 20px 20px;
        font-family: Arial;
}

ul {
        list-style-type:circle;
}

.status-table {
        table-layout: fixed;
        word-wrap: break-word;
}

.accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 60%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
      }
      
.active, .accordion:hover {
        background-color: #ccc;
      }
      
.panel {
        padding: 0 18px;
        background-color: white;
        overflow: hidden;
      }