 <html>
	<title>About Me</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
    <body>
        <center>
        <dl class="accordion text-center">
            <p class="display-1">About Me</p>
            <p class="h3">Full time college student in university of Indonesia. Currently taking Computer Science.
            My main interest lies in game and software development. I also translate webcomics.</p>

            <p class="h3">I am a passionate and crafty, I operate well under pressure and I can work well with any team.
            I dream to one day work on a magnum opus that is enjoyed and benefit many.</p>
            <br>
            <dt class="panel h1" id="accordion-button">Activities</dt>
            <dd id="accordion-item">
                <ul>
                    <li class="h2">Lab Assistant for Foundations of Programming I on Fasilkom</li>
                </ul>    
            </dd>

            <dt class="panel h1" id="accordion-button">Organization Experiences</dt>
            <dd id="accordion-item">
                <ul>
                    <li class="h2">Humas Subdivision Leader in OSIS SMPIT Nurul Fikri (2013-2014)</li>
                    <li class="h2">DKM Subdivision Leader in Rohis SMAN 2 Depok (2015-2016)</li>
                </ul>    
            </dd>

            <dt class="panel h1" id="accordion-button">Achievement</dt>
            <dd id="accordion-item">
                <ul>
                    <li class="h2">Best Kultum in SMPIT Nurul Fikri (2014)</li>
                </ul>    
            </dd>
        </dl>

        <button onclick="changeTheme()" id="0">Press to change theme</button>
        </center>

        <!-- Javascript -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/story.js' %}"></script>
    </body>     
</html>
